body {
    background-color: blue;
    font-family: sans-serif;
    font-weight: bold;
}

.board {
    margin: 10%;
}

.board > a {
    color: yellow;
}

table {
    border: 3px solid yellow;
    padding: 20px;
    font-size: 18pt;
}

tr, td {
    border-top: 3px solid yellow;
    border-right: 1px solid yellow;
    padding: 20px;
    font-size: 18pt;
}

