body {
    background-color: blue;
    font-family: sans-serif;
    font-weight: bold;
}

.board {
    margin: 10%;
}

.board > a {
    color: yellow;
}

table, tr, td{
    border: 1px solid yellow;
    padding: 20px;
    font-size: 18pt;
}

